body {
    font-family: 'Montserrat', sans-serif;
	
}

h1{
    text-align: center;
}

h2{ 
    text-align: center;
}

h3{
	text-align: center;
}
p{
	text-align: center;
}

.web > img{
	width: 100%;
}
.conferance {
 border: 10px solid rgb(3, 3, 3); 
 text-align: center;
 
}
.conferance > img {
    width: 100%;
}

.container {
	display: flex;
	flex-direction: row;
}

.container > * {
	border: 50px black;
	margin: 0.7em;
	padding: 3em;
	text-align: center;
}
.main-text{
	padding: 3em;
}
a {
	background-color: blanchedalmond;
	border-radius: 0.5em;
	font-size: 15px;

}
 
* {box-sizing: border-box}


.container {
  padding: 16px;
}


input[type=text], input[type=Email] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 3px solid;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=Email]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	margin: 0 -16px;
  }
  
  .col-25 {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
  }
  
  .col-50 {
	-ms-flex: 50%; /* IE10 */
	flex: 50%;
  }
  
  .col-75 {
	-ms-flex: 75%; /* IE10 */
	flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
	padding: 0 16px;
  }
  
  .container {
	background-color: #f2f2f2;
	padding: 5px 20px 15px 20px;
	border: 1px solid rgb(22, 20, 20);
	border-radius: 3px;
  }
  
  input[type=text] {
	width: 50%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
  }
  
  label {
	margin-bottom: 10px;
	display: block;
  }
  
  .icon-container {
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
  }
  
  
  span.price {
	float: right;
	color: grey;
  }
  
  
  @media (max-width: 500px) {
	.row {
	  flex-direction: column-reverse;
	}
	.col-25 {
	  margin-bottom: 10px;
	}
  }

h4{
	text-align: center;
}
.seminarier-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.seminarier-item {
	width: calc(33.33% - 10px);
	box-sizing: border-box;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	background-color: #f9f9f9;
}
body {
    overflow-x: hidden;
}